<h1>Broncos Roster 4e23</h1>
{{#if signedIn}}
  <button type="button" name="button" onclick="logout();">Log Out</button>
{{else}}
  <button type="button" name="button" onclick="login();">Log In</button>
  <button type="button" name="button" onclick="signup();">Sign Up</button>
{{/if}}
